PORT=8080
# DATABASE_URL=postgres://postgres:secret@localhost:5432/tasksdb?sslmode=disable
DATABASE_URL=postgres://tasks:pass@db:5432/tasks?sslmode=disable
DB_PASSWORD=pass
JWT_SECRET=supersecretkey_change_me_in_production_123!
JWT_TOKEN_TTL=24h